<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.release.political_facebook">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateAlwaysHidden">
        <activity android:name="com.release.political_facebook.settings"></activity>
        <activity
            android:name="com.release.political_facebook.My_posts"
            android:parentActivityName="com.release.political_facebook.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.release.political_facebook.profile_update"
            android:parentActivityName="com.release.political_facebook.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.release.political_facebook.CommentActivity"
            android:parentActivityName="com.release.political_facebook.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.release.political_facebook.serach_user"
            android:parentActivityName="com.release.political_facebook.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.release.political_facebook.register" />
        <activity android:name="com.release.political_facebook.Login_public" />
        <activity
            android:name="com.release.political_facebook.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>